<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">
        <link href="/css/layout.css" rel="stylesheet">
        <script src="js/jQuery.js" type="text/javascript"></script>
        <script src="js/layout.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="side-bar">
            <div class="background"></div>
            <div class="glyphicon glyphicon-home link" id="btnHome"></div>
            <div class="glyphicon glyphicon-user link" id="btnUser"></div>
            <div class="glyphicon glyphicon-comment link" id="btnComment"></div>
            <div class="glyphicon glyphicon-picture link" id="btnPicture"></div>
            <div class="glyphicon glyphicon-cog link" id="btnSettings"></div>
        </div>
        <div class="container">
            <div class="page-header navbar-fixed-top">
                <h1>Bur Oak Estates</h1>
            </div>
            <div id="dynamicContent">
                {{{body}}}
            </div>
        </div>

        <div class="blur-background"></div>
    </body>
</html>