body{
    padding-top: 90px;
     color:#fff;
}
h1{
    color:#fff;
}
.page-header{
    border:none;
    padding:0;
    margin:0;
    margin-left: 15vw; 
}
.blur-background{
  background-image: url('/img/gate.jpg'); 
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top:0;
  z-index: -1;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.side-bar{
    position: fixed;
    top:0;
    left: 0;
    width: 8vw;
    height: 100vh;  
    color:rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-bar .link{
    font-size: 4em; 
    text-align: center;
    margin: 1em 0;
    cursor: pointer;
}

.side-bar .background{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%; 
    position:absolute;
    top: 0; 
}
.error-message{
    color:#fff;
    background: rgba(0, 0, 0, 0.6);
    font-size:3em;
    height:4em;
    width: 20em;
    padding:1em;
    overflow:hidden;
    text-align: center;
    position: absolute;
    top:calc(50% - 2em);
    left:calc(50% - 10em);
}